body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.section-one {
  display: flex;
  background-image: url('images/top-banner.png');
  background-repeat: no-repeat;
}

.half-width {
  width: 50%;
  padding-left: 25px;
}

.half-width img {
  width: 90%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
