body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.section-one {
  display: flex;
  background-image: url('images/top-banner.png');
  background-repeat: no-repeat;
  margin-bottom: 150px;
}

.dream-big {
  display: flex;
  background-image: url('images/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 25px;
}

.half-width img {
  width: 90%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.flexible-div {
  display: flex;
}

.box-shadow {
  box-shadow: 10px 10px 40px grey;
  width: 40%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 300px;
}

.border-class1 {
  border-left: 10px solid;
  border-image: linear-gradient(salmon, red);
  border-image-slice: 1;
}

.border-class2 {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer {
  text-align: center;
}
